* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    background: #202121;
    color: #ededed;
} 


/* header */

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 23px;
    font-weight: 700;
}



.navbar a {
    letter-spacing: 1.2px;
    text-decoration: none;
    font-size: 19px;
    color: #000000;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover, .navbar a.active  {
    color: #00abf0;
    border-bottom: 2px solid #00abf0;

}


/* Resume-ify */

.content {
    overflow-y: hidden;
    height: 126vh;
    display: block;
    align-items: center;
}
h1 {
    position: relative;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    margin-top: 10%;
}

.Resume-Ify{
    display: flex;
    height: 7100%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #315565;
    border-radius: 6.5%;
}

.Resume-Ify{
    padding: 3%;
}

.Resume-Ify > img {
    padding-right: 2%;
    border-radius: 20%;
    width: 250%;
    height: auto;
}


.text > p {
    flex: 1; /* text takes the right half */
    display: inline-block;
    position: relative;
    margin-left: 3%;
    margin-top: 15%;
    max-width: 95%;
    padding: 5px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    overflow-y: hidden;
  }
  
.text p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #77a8b8;
    animation: showRight 1s forwards;
    animation-delay: .1s;
}

.text > button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #ca9238;
    justify-content: center;
    height: 70px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20%;
    margin-top: 12.5%;
    z-index: 1;
    font-size: 19px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.text button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .4s;
}


.text button:hover::before{
    background-color: #000000;
    height: 100%;
}

.text > button:hover {
    background-color: #ca9238;
}



/* Meal Plan */



.content2 {
    height: 126vh;
    display: block;
    align-items: center;
    overflow-y: hidden;
    margin-bottom: 50px;
}


.Meal_Plan{
    display: flex;
    height: 7100%;
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fbf3eb;
    border-radius: 6.5%;
}

.Meal_Plan{
    padding: 3%;
}

.Meal_Plan > img {
    margin-left: 0;
    padding-right: 5%;
    width: 275%;
    height: auto;
}

.text2{
    background-color: #2c5b4d;
    box-shadow: 0 0 0 50px #2c5b4d; /* Create a background-like shadow */
}


.text2 > p {
    flex: 1; /* text takes the right half */
    display: inline-block;
    position: relative;
    margin-left: 10%;
    margin-top: 15%;
    max-width: 95%;
    padding: 5px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    text-align: justify;
    overflow-y: hidden;
  }
  
.text2 p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #77a8b8;
    animation: showRight 1s forwards;
    animation-delay: .1s;
}

.text2 > button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #7153c3;
    justify-content: center;
    height: 70px;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20%;
    margin-top: 12.5%;
    z-index: 1;
    font-size: 19px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.text2 button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .4s;
}


.text2 button:hover::before{
    background-color: #000000;
    height: 100%;
}

.text2 > button:hover {
    background-color: #7153c3;
}






































/* animations */


@keyframes showRight {
    100% {
        width: 0;
    }
}
